body {
  background-image: url(https://i.pinimg.com/736x/0e/08/50/0e0850a18293438b8d7b03bb024309e6.jpg);
  font-family: sans-serif;
  padding: 20px;
}

img {
  display: block;
  margin-right: 30px;
  margin-left:28px;
}